<section class="hero">
<div class="wrap">
<div class="toprow"><span class="kicker">[% data.kicker %]</span><span class="byline">[% data.byline %]</span></div>
<h1 class="display">[% data.heading %]<br>[% data.heading_post %]</h1>
<div class="lower">
<p class="deck">[% data.deck %]</p>
<div class="meta">[% FOREACH m IN data.meta %][% UNLESS loop.first %]<br>[% END %]<b>[% m.label %]</b> &mdash; [% m.text %][% END %]</div>
</div>
</div>
</section>
